@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Tektur:wght@400..900&display=swap');

body {
	font-family: "Tektur", sans-serif;
        background-color: #FBDB65;
}

img {
	display: block;
	margin: auto;
}

table, tr, th, td{
	border: 1px solid;
	text-align: center;
	background-color: #b86fe8;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
