@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Tektur:wght@400..900&display=swap');

body {
	font-family: "Tektur", sans-serif;
        background-color: #FBDB65;
}

img {
	display: block;
	margin: auto;
}
