@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

h1 {font-family: "Jacquard 12", sans-serif;
}
	
p {font-family: "Jersey 10", sans-serif;
	font-size: 150%;
}

body {background-color: rgb(253, 219, 101);
}
