.grid{
	display: grid;
	height: 100vh;
	grid:
	 'head' 100px
	 'main' 1fr
	 'foot' 200px
	 /1fr;
}

.gridIn{
	display: grid;
	height: 100%;
	grid:
	 'ref con' 1fr
	 /1fr 1fr;
}

.gridR{
	display: grid;
	height: 100%;
	grid:
	 're re' 2fr
	 'beA beB' 1fr
	/1fr 1fr;
}

#proot{
	grid-area: head;
	background-color: #fbdb65;
}

#synth{
	grid-area: foot;
	background-color: #b9faca;
}

#body{
	grid-area: main;
	background-image: linear-gradient(#fbdb65,#b9faca); 
}

#reference{
	grid-area: ref;
}

#contact{
	grid-area: con;
}

#resu{
	grid-area: re;
}

#bach{
	grid-area: beA;
}

#bachB{
	grid-area: beB
}
